$title-color: #673d1c;
@font-face {
    font-family: CourierNewRegular;
    font-family: SansBold;
    src: url(fonts/PTSansRegular.ttf);
    src: url(fonts/PTSansBold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    background-color: #797979;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.content {
    background: url(/img/background.jpg);
    min-height: 100%;
    width: 86%;
}

.content_title {
    width: 100%;
    padding-top: 6em;
    text-align: center;
    padding-bottom: 2em;
    h1 {
        font: bold 5em CourierNewRegular;
        color: $title-color;
    }
}

.content-personal-data {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    .content-personal-data_item {
        font-size: 1.3em;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        p {
            margin-right: 1em;
            font-family: SansBold;
            margin: 0.5em;
        }
        span {
            font-family: CourierNewRegular;
            font-size: 1em;
        }
    }
}
