$fendersblue: #41221c;
$title-color: #673d1c;
$link-color: rgba(92, 92, 92, 0.84);
@font-face {
    font-family: PTSansRegular;
    font-family: SansBold;
    src: url(fonts/PTSansRegular.ttf);
    src: url(fonts/PTSansBold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    background-color: #797979;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.content {
    background: url(img/background.jpg);
    min-height: 100%;
    width: 86%;
}

.content_title {
    width: 100%;
    padding-top: 6em;
    text-align: center;
    padding-bottom: 2em;
    h1 {
        font: bold 5em PTSansRegular;
        color: $title-color;
    }
}

.content-personal-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    .content-personal-data_item {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        p {
            padding-top: 31px;
            padding-right: 20px;
            font-family: SansBold;
            font-size: 1.3em;
        }
        span {
            font-family: PTSansRegular;
            font-size: 25pt;
            font-weight: 200;
        }
    }
}

.underline {
    display: inline;
    border-bottom: 3px solid darken($fendersblue, 10);
    width: 100%;
}

.underline:after,
.underline:before {
    content: "";
    display: block;
}

.content-link a {
    text-decoration: none;
    color: black;
}

a:active,
a:hover {
    color: $link-color;
}

.content-data-wrapp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.checkbox-layot_tittle {
    h3 {
        text-align: left;
        font-family: SansBold;
        font-size: 1.4em;
    }
}

.content-checkbox-layot {
    margin-top: 5%;
    max-width: 600px;
}

.checkbox-undertext p {
    font-family: PTSansRegular;
    font-size: 1em;
    color: $link-color;
}

.content-checkbox-box {
    margin-top: 1em;
}
